*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 10px 50px;
}
.input-field input{
    padding: 10px;
}
.input-field button{
    padding: 13px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin-left: -3px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
.search-btn button{
    margin-right: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 208, 255, 0.923);
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.content{
    display: flex;
    justify-content:space-evenly;
   
}
.product-item{
    border: 2px solid rgba(0, 0, 0, 0.407);
    height: 100px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    line-height: 27px;
    margin: 20px;
}

